.idea/
.vscode/
.buildpath
.project
.settings/
dist/

[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

node_modules/

.DS_Store

.env.dev
.env.local

local.Dockerfile
npm-debug.log
